# Pour recevoir les mails au format html, c'est plus agréable à lire
Format = html
# Adresse sur laquelle recevoir les mails
MailTo = " {{ destemail }} "
# Niveau de détail des logs
Detail = Med               